.rech{
    border-radius: 5px;

}
.the{
    background-color: #377a7c;
    color: white;
}
.ico{
    color: red;
}
.ima{
margin-left: 800px;
width: 30px;
height: 30px;
}
#form{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color:#377a7c ;
}
#butins{
    color: white;
    background-color: #377a7c;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
#borde{
 border-radius: 10px;
 box-shadow:  1px 1px 12px 1px #377a7c;
}