#container2{
    display: flex;
    flex-wrap: wrap;
    
    
   
}
#ContainerbtnSidebar{
    width: 22%;
    box-shadow: 10px 0px 15px 2px #004446;
  
}
#btnSidebar{
    width: 100%;
    background-color: #fff;
    font-size: 20px;
    color: #004446;
    padding: 3% ;
    border: none;
}
#btnSidebar:hover{
    background-color: #004446;
    box-shadow: 10px 0px 25px 3px #fff;
    color: #fff;
}
#btnSidebar.active{
    background-color: #004446;
    color: #fff;
}