a{
    text-decoration: none;
    color: white;
  }
  a:hover{
  text-decoration: none;
  color: white;
  }
  #entête{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  
  }
  /* menu navigation */
  #menuNav{
    width: 100%;
      display: flex;
      justify-content: center;
      
      }
      
   #btnMenuNav{
  
        background-color: #004446;
        font-size: 20px;
        color: white;
        padding: 1% 4% 1% 4% ;
        border: none;
      }
  
      #btnMenuNav:hover{
        background-color: #3d6e6f;
        
      }
     
      /* description  */
   #infoNav{
   
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 0.2%;
   }
    #textHeader{
      font-size: 14.2px;
     margin: 1.5%;
  
    }
    #imageHeader{
      height: 30%;
      border-radius: 10px;
    }
   /* image header et valeurs temps réelles */
   #VTR{
    margin-top: -11%;
    width: 100%;
  
   }
    #ImageVTR{
      width: 100%;
      height: 23%;
      margin-top: 0%;
      position: absolute;
  }
  #ImageSaladeVTR{
    width: 65%;
    height: 150px;
      margin-top: 3%;
      margin-left: 17%;
      position: relative;
      border-radius: 10px;
  }
  #containerVTRTempérature{
    margin-top: -9.6%;
   display: flex;
   justify-content: center;
   text-align: center;
   gap: 5%;
  position: relative;
  }
  #SouscontainerVTRTempérature{
    width: 14%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    line-height: 120%;
    letter-spacing: 2px;
    font-size: 21px;
    opacity: 91%;
  }
  
  #modalparam{
  border: solid #2d7974; 
  
  }
  
  
  .butA{
  background-color: red;
  color: white;
  margin-right: 250px;
  border-radius: 10px;
  }
  
  .butM{
  background-color:green;
  color: white;
  border-radius: 10px;
  
  }
  #swal-input1{
  padding: 15px;
  }
  #param{
  font-size: 20px;
  }
  .modal-header{
  text-align: center;
  font-size: 25px;
  }
  .md{
  border: #2d7974;
  background-color: #2d7974;
  color: white;
  border-radius: 7px;
  
  }
  
  
  
  
  
  
  
  
  /* css pop up modifiaction mot de passe */
  
  /* 
  #main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  } */
  .popup{
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  max-height: 80%;
  min-width: 31%;
  background-color: white;
  position: absolute;
  top: 13%;
  right: 35%;
  border: 5px solid #3d6e6f;
  border-radius: 10px;
  }
  .popup-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  background-image: url('../images/iconModifMdp.png');
  background-repeat: no-repeat;
  width: 55%;
  height:92px;
  margin-left: 132px;
  }
  
  .mdpLabel{
  
  font-size: 15px;
  font-weight: bold;
  margin: -2rem auto;
  width: 350px;
  
  
  
  }
  
  .mdpInput{
  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
  }
  .mdpBtn{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  gap: 140px;
  
  }
  .btnAnnuler{
  background-color: rgb(245, 51, 51);
  color: white;
  margin: 15px;
  border: none;
  border-radius: 10px;
  }
  .btnModifier{
  background-color: #198754;
  color: white;
  margin: 15px;
  border: none;
  border-radius: 10px;
  }
  .err {
    margin: 4px 0 0 0;
    font-size: 15px;
    font-weight: bold;
    color: #e64646;
  }
  #errMdp{
    text-align: center;
    width: 100%;
    height: 28px;
    background-color: #e64646;
    color:white;
    font-size:20px ;
    font-weight: bold;
  }
  #successMdp{
    text-align: center;
    width: 100%;
    height: 28px;
    background-color: green;
    color:white;
    font-size:20px ;
    font-weight: bold;
  }